my_notes
cloud
build/
popout/_version.py
*.egg-info

data/
diagnostics/
notebooks/
run.sh
scripts/
!workflows/lai-tools/scripts/
!workflows/flare/scripts/
!validation/scripts/
!validation/popout_dx/scripts/
!validation/data/
workflows/bcftools/data/
